.about{
    .about_container{
        display: flex;
        justify-content: space-between;
        gap: 10rem;
        width: 100%;
        @media (max-width: $breakPoint) {
            gap: 10rem;
            padding-inline: 3rem;
        }
        // About Title and Description
        .about_left{
            display: flex;
            justify-content: center;
            flex-direction: column;
            .about_content{
                white-space: pre-wrap; // Used to take in the line breaks / extra spaces in the text
            }
        }
    
        // About Image
        .about_right{
            .image_wrap{
                height: auto;
                width: 100%;
                min-width: 350px;
                .about_image{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}