.featured_categories{
    background-color: rgb(250, 250, 98);
}

.category_wrap{
    margin-top: 10px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 3rem;
    .category_container{
        cursor: pointer;
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        .category_image{
            padding: 10px;
            width: 100%;
            height: 90%;
            object-fit: cover;
        }
    }
}